<h2>Admin – User Management</h2>

<table border="1" cellpadding="5">
<tr>
    <th>ID</th>
    <th>Username</th>
    <th>Role</th>
    <th>Locked</th>
    <th>Failed Attempts</th>
    <th>Action</th>
</tr>

{% for user in users %}
<tr>
    <td>{{ user[0] }}</td>
    <td>{{ user[1] }}</td>
    <td>{{ user[4] }}</td>
    <td>{{ user[8] }}</td>
    <td>{{ user[6] }}</td>
    <td>
        <a href="/admin/reset_password/{{ user[0] }}">Reset Password</a>
    </td>
</tr>
{% endfor %}
</table>

<br><br>
<a href="/dashboard">Back</a>
